<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032973035887-44tura6hpbqlf9po7tro2ogtna7r1pqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032973035887-44tura6hpbqlf9po7tro2ogtna7r1pqu</string>
	<key>API_KEY</key>
	<string>AIzaSyAqBu4GqZbQcgC5CTGRCg-8NBA9RFoB7Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>1032973035887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomadasColombia</string>
	<key>PROJECT_ID</key>
	<string>appturismo-88cf4</string>
	<key>STORAGE_BUCKET</key>
	<string>appturismo-88cf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032973035887:ios:042db3573648d99b4fa09a</string>
</dict>
</plist>